body {
    background: #eee;
    font-family: sans-serif;
}

.card {
    width: 400px;
    background: #fff;
    margin: 16px auto;
    padding: 20px;
}

.title {
    background: #e3f4ff;
    padding: 20px;
}

.content {
    background: #e3f4ff;
    padding: 20px;
    margin: 16px auto; 
}

.button-container {
    text-align: center;
    background: #e3f4ff;
    padding: 20px;
}

button {
    background: white;
    border: 1px solid #eee;
    padding: 8px 20px;
    display: block;
    margin: 0 auto;
}
